@font-face {
  font-family: Digital;
  src: url("../../fonts/Digital.ttf");
}
@font-face {
  font-family: franklin;
  src: url("../../fonts/franklin.ttf");
}
* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.intro {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 4;
  position: absolute;
}

.first-flash {
  display: none;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.animFirstFlash {
  animation-name: first-flash;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes first-flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tableau, .jaune, .vert, .rouge, .panneau, .diodeVert, .diodeRouge, .diodeJaune {
  width: 100%;
  z-index: 5;
  position: absolute;
  bottom: 55vh;
}

.jaune, .vert, .rouge, .diodeVert, .diodeRouge, .diodeJaune {
  filter: brightness(0);
}

.convecteur {
  bottom: 3%;
  width: 50%;
  height: 50%;
  position: absolute;
}

.convecteurPng {
  bottom: 3%;
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 4;
}

.reset {
  left: 46.9%;
  bottom: 6.4%;
  width: 6.9%;
  height: 4.7%;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.levier {
  height: 400px;
  position: absolute;
  z-index: 5;
  bottom: 80px;
  left: 515px;
  cursor: pointer;
}

.launch {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 6;
  bottom: 80px;
  left: 505px;
  cursor: pointer;
}

.start {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 6;
  bottom: 250px;
  left: 10px;
  cursor: pointer;
}

.bouton2 {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 5;
  bottom: 250px;
  left: 10px;
}

.push {
  animation-name: push;
  animation-duration: 0.3s;
}

@keyframes push {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.desactive {
  display: none;
}

.active {
  display: block;
  width: 100%;
  height: 100%;
}

.affiche-container {
  position: relative;
  width: 70vh;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.voiture {
  display: none;
  z-index: 6;
}

.scale {
  display: block;
  animation-name: scale;
  animation-duration: 0.3s;
}

.index {
  z-index: -3;
}

@keyframes scale {
  0% {
    transform: scale(300%);
  }
  to {
    transform: scale(100%);
  }
}
.affiche {
  width: 100%;
  height: 100%;
}

.png {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.flash {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: white;
  opacity: 1;
  animation-name: flash-fond;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes flash-fond {
  1% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.delorean {
  z-index: 2;
  opacity: 0;
  animation-name: appear-delorean;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes appear-delorean {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.eclair {
  filter: brightness(1);
  animation: clignote-eclair;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-iteration-count: 2;
  opacity: 0;
  z-index: 2;
}

@keyframes clignote-eclair {
  1% {
    filter: brightness(3);
    opacity: 1;
  }
  2% {
    filter: brightness(1);
    opacity: 0;
  }
  11% {
    filter: brightness(1);
    opacity: 0;
  }
  11.5% {
    filter: brightness(3);
    opacity: 1;
  }
  12% {
    filter: brightness(1);
    opacity: 0;
  }
  69% {
    filter: brightness(1);
    opacity: 0;
  }
  70% {
    filter: brightness(3);
    opacity: 1;
  }
  71% {
    filter: brightness(1);
    opacity: 0;
  }
  73% {
    filter: brightness(1);
    opacity: 0;
  }
  100% {
    filter: brightness(1);
    opacity: 0;
  }
}
.feux {
  filter: brightness(1);
  animation: clignote-feux;
  animation-timing-function: linear;
  animation-delay: 4s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 3;
  filter: brightness(1.6);
  opacity: 0;
}

@keyframes clignote-feux {
  0% {
    filter: brightness(1.6);
    opacity: 1;
  }
  10% {
    filter: brightness(1.6);
  }
  11% {
    filter: brightness(1);
  }
  12% {
    filter: brightness(1.6);
  }
  13% {
    filter: brightness(1);
  }
  14% {
    filter: brightness(1.6);
  }
  68% {
    filter: brightness(1.6);
  }
  70% {
    filter: brightness(1);
  }
  71% {
    filter: brightness(1.6);
  }
  100% {
    filter: brightness(1.6);
    opacity: 1;
  }
}
.fleche, .retro {
  left: 600px;
  animation-name: return-left;
  animation-duration: 0.5s;
  animation-delay: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes return-left {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
.pixel {
  right: 600px;
  animation-name: return-right;
  animation-duration: 0.5s;
  animation-delay: 8.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes return-right {
  from {
    right: 600px;
  }
  to {
    right: 0px;
  }
}
.lyon {
  opacity: 0;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.date {
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  font-family: Digital;
  font-size: 22px;
  z-index: 2;
  top: 69%;
  left: 23%;
  filter: invert(1);
  letter-spacing: 0.2em;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.musee {
  opacity: 0;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.lieu {
  font-family: franklin;
  font-size: 18px;
  letter-spacing: 0.2em;
  transform: scaleY(1.2);
  font-weight: lighter;
  color: white;
  z-index: 2;
  position: absolute;
  bottom: 16px;
  left: 130px;
  opacity: 0;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-delay: 11.7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loc {
  bottom: 1200px;
  animation-name: return-bottom;
  animation-duration: 1s;
  animation-delay: 11s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes return-bottom {
  from {
    bottom: 1200px;
  }
  to {
    bottom: 0px;
  }
}
.generique {
  text-align: center;
  width: 100%;
  height: fit-content;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 50;
  position: absolute;
}

.animGene {
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: gene;
}

@keyframes gene {
  from {
    bottom: -6500px;
  }
  to {
    bottom: 1000px;
  }
}
.titre {
  text-transform: uppercase;
  text-decoration: underline;
}

.fondu {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 49;
  opacity: 1;
  position: absolute;
}

.animFondu {
  animation-name: fond;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fond {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
